@model IEnumerable<ASPAssignment.Models.TerrestrialAnimal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.AnimalId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TerrestrialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TerrestrialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TerrestrialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
